.Header {
  position: sticky;
  top: 0;
  z-index: 1100;

  height: $header-height;

  @include flex($justify: space-between);

  padding-inline: $page-padding-inline;

  color: $secondary;
  background: white;

  box-shadow: 0 0 5px $secondary;

  & > a {
    color: $secondary;
    text-decoration: none;

    img {
      height: calc($header-height - 20px);
    }
  }
}

.Header,
.nav_wrraper {
  button {
    z-index: 1300;
    background: transparent;
    border: none;
    color: $secondary;
    @include flex;
    cursor: pointer;

    svg {
      font-size: 32px;
    }
  }
}

.nav_wrraper {
  @keyframes fadein {
    from {
      scale: 0.5;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  &[aria-expanded="false"] {
    display: none;
  }

  &[aria-expanded="true"] {
    animation: fadein 0.2s ease;

    a,
    button {
      animation: fadein 0.5s cubic-bezier(1, 0, 0.2, -0.5);
      transition: 0.2s ease;

      &:hover {
        scale: 1.1;
        opacity: 0.5;
      }
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1200;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9)
  );
  @include flex($dir: column);
  padding-block: 100px;

  button {
    background: white;
    padding: 15px;
    border-radius: 50%;
  }

  nav {
    margin-block: auto;
    @include flex($dir: column, $gap: 20px);

    a {
      color: white !important;
      text-decoration: none;
      color: $secondary;
      font-size: 52px;
    }
  }
}
