.container {
  padding: 50px $page-padding-inline;

  h2 {
    text-align: center;
    font-size: 42px;
  }

  .reviews {
    margin-top: 30px;
    max-width: 600px;
    margin-inline: auto;

    .review {
      padding-bottom: 30px;
    }
  }
}
