.Container {
  min-height: calc(100vh - $header-height);
  padding: 50px $page-padding-inline;

  .welcome {
    position: relative;
    @include flex;
    isolation: isolate;
    cursor: pointer;

    & *::selection {
      background: $secondary;
    }

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-47.5%);
      height: 250px;
      z-index: -1;

      & > * {
        fill: $secondary;
      }
    }

    span {
      font-size: 2rem;
      font-weight: bold;
      font-family: "Pacifico", cursive;
    }
  }
}
