.review {
  position: relative;

  text-align: center;

  .quote {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 50px;
    height: 50px;

    z-index: -1;
    color: rgba(0, 0, 0, 0.1);
  }

  b {
    font-size: 1.5rem;
    margin-inline-end: 5px;
  }

  span {
    font-size: 1rem;
  }

  p {
    margin-top: 5px;
  }
}
