.Container {
  min-height: calc(100vh - $header-height);

  @include flex($align: stretch);

  @include mobile() {
    flex-direction: column-reverse;

    & > div {
      width: 100% !important;
    }

    & .Image {
      height: 60vh;
    }

    & .Content {
      text-align: center;

      button {
        margin-inline: auto;
      }
    }
  }

  & > div {
    // flex: 1;
    width: 50%;
  }

  & .Image {
    width: 50%;
    background-image: url("/img_hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .Content {
    box-sizing: border-box;
    padding: 50px;

    @include flex(
      $dir: column,
      $align: flex-start,
      $justify: center,
      $gap: 20px
    );

    h1,
    p {
      max-width: 700px;
    }

    h1 {
      font-size: 4rem;

      span {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 12px;
          right: 0;
          height: 5px;
          width: 80%;
          background: $success;

          border-radius: 100% 0 0 100%;
          z-index: -1;

          rotate: -2deg;
        }
      }
    }

    button,
    p {
      font-size: 18px;
    }

    button {
      position: relative;
      isolation: isolate;

      height: 50px;
      width: 150px;
      @include flex;

      font-weight: 500;
      cursor: pointer;

      background: $secondary;
      color: white;
      box-shadow: 0 0 2px $secondary;

      transition: all 0.2s;

      &:hover {
        background: white;
        color: $secondary;
        box-shadow: 0 0 1px $secondary, 5px -5px 0 $secondary;
      }
    }
  }
}
