.Container {
  position: relative;
  min-height: calc(100vh - $header-height);
  @include flex($align: stretch);

  @include mobile() {
    flex-direction: column-reverse;

    & > div {
      width: 100% !important;
    }

    & .Image {
      height: 60vh;
    }

    & .Content {
      text-align: center;
    }

    a {
      margin-inline: auto;
    }
  }

  & > div {
    width: 50%;
  }

  & .Image {
    width: 50%;
    background-image: url("/img_hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .Content {
    box-sizing: border-box;
    padding: 50px;

    @include desktop {
      padding-inline: 100px;
    }

    @include flex(
      $dir: column,
      $align: flex-start,
      $justify: center,
      $gap: 20px
    );

    h1,
    p {
      max-width: 700px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    a {
      text-decoration: none;
    }

    p {
      font-size: 21px;
    }

    h1 {
      font-size: 3.2rem;

      @include mobile() {
        font-size: 2.7rem;
      }

      span {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 12px;
          right: 0;
          height: 5px;
          width: 80%;
          background: $success;

          border-radius: 100% 0 0 100%;
          z-index: -1;

          rotate: -2deg;
        }
      }
    }
  }
}
