@mixin flex(
  $dir: row,
  $wrap: nowrap,
  $justify: center,
  $align: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;

  @content;
}
