.Container {
  min-height: 100vh;
  padding: 150px $page-padding-inline;
}

.plan {
  @include flex($align: stretch, $justify: flex-start);

  @include mobile {
    flex-direction: column;
    gap: 30px;
    justify-content: center !important;
  }

  & > div {
    flex: 1;
  }

  &__thumbnail {
    @include flex;
    img {
      width: 500px;
      max-width: 85%;
      height: auto;
    }
  }

  &__content {
    @include flex($dir: column, $align: flex-start, $gap: 10px);

    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
