.Container {
  padding: 25px $page-padding-inline;
  min-height: calc(100vh - $header-height);
  @include flex($dir: column);

  & > * {
    width: 100%;
  }

  div {
    @include flex($dir: column);

    & > * {
      text-align: center;
    }

    h2 {
      font-size: 2rem;
    }
  }

  form {
    @include flex($dir: column, $gap: 20px);
  }
}
